Container Types Intro

Container/reference Types:
- 'list'
- 'tuple'
- 'dictionary'
- 'set'

In [7]:
fruits = ['apple', 'banana', 'cherry']
type(fruits)

list

In [26]:
numbers = [1, 3, 6, 9]
print(numbers)
type(numbers)

[1, 3, 6, 9]

list

In [11]:
mixed = ['banana', 3, False]
print(mixed)
print(type(mixed))

['banana', 3, False]
<class 'list'>

In [3]:
list('abcdf')

['a', 'b', 'c', 'd', 'f']

In [13]:
my_str = 'ab,cd'

my_str.split(",")

['ab', 'cd']

In [21]:
numbers[10]

IndexError: list index out of range

In [28]:
numbers[3:50]

[9]

In [29]:
numbers[::2]

[1, 6]

In [6]:
a = 5
b = a

print(id(a))
print(id(b))

a += 1 # a = a + 1

print(a)
print(b)

print(id(a))
print(id(b))

2023931511152
2023931511152
6
5
2023931511184
2023931511152

In [5]:
a = [1, 2, 3]
b = a  # reference assignment 

print(id(a))
print(id(b))

a.append(4)

print(a)
print(b)

print(id(a))
print(id(b))

2024011839616
2024011839616
[1, 2, 3, 4]
[1, 2, 3, 4]
2024011839616
2024011839616

In [8]:
a = [1, 2, 3]
b = a.copy() 

print(id(a))
print(id(b))

2024033352128
2024033423424

In [17]:
x = [
    [1, 2], [3, 4]
    ]

y = x.copy()

x[0].append(5)

print(x)
print(y)

[[1, 2, 5], [3, 4]]
[[1, 2, 5], [3, 4]]

In [18]:
from copy import deepcopy

x = [
    [1, 2], [3, 4]
    ]

y = deepcopy(x)

x[0].append(5)

print(x)
print(y)

[[1, 2, 5], [3, 4]]
[[1, 2], [3, 4]]

### List Methods

- append()
- clear()
- copy()
- count()
- extend()
- index()
- insert()
- pop()
- remove()
- reverse()
- sort()

In [68]:
fruits = ['apple', 'kiwi', 'banana', 'apple',]
fruits.append('cherry')
fruits

['apple', 'kiwi', 'banana', 'apple', 'cherry']

In [42]:
fruits.count('apple')

2

In [40]:
# fruits.append(['melon', 'kiwi'])
# fruits

['apple', 'banana', 'apple', 'cherry', 'melon', 'kiwi', ['melon', 'kiwi']]

In [69]:
fruits.extend(['melon', 'kiwi'])
fruits

['apple', 'kiwi', 'banana', 'apple', 'cherry', 'melon', 'kiwi']

In [70]:
fruits.index('kiwi', fruits.index('kiwi')+1)

6

In [71]:
fruits.pop()

'kiwi'

In [72]:
fruits

['apple', 'kiwi', 'banana', 'apple', 'cherry', 'melon']

In [73]:
fruits.pop()

'melon'

In [74]:
fruits

['apple', 'kiwi', 'banana', 'apple', 'cherry']

In [76]:
fruits.remove('kiwi')

In [77]:
fruits

['apple', 'banana', 'apple', 'cherry']

In [78]:
fruits.remove(fruits[3])

In [79]:
fruits

['apple', 'banana', 'apple']

In [80]:
fruits.remove('apple')

In [81]:
fruits

['banana', 'apple']

In [82]:
fruits.reverse() # in-place reverse

In [83]:
fruits

['apple', 'banana']

In [ ]:
fruits.sort()

In [86]:
fruits = ['banan', 'a', 'ananas', 'ab']
sorted(fruits, key=lambda x: len(x))

['a', 'ab', 'ananas', 'banan']

In [88]:
numbers = [6, 4, 3, 2, 7]
sorted(numbers, reverse=True)

[7, 6, 4, 3, 2]

In [91]:
numbers = [-6, 4, 3, 2, 7]
sorted(numbers, key=lambda n: abs(n))

[2, 3, 4, -6, 7]

In [92]:
numbers

[-6, 4, 3, 2, 7]

In [93]:
numbers[0] = 1

In [94]:
numbers

[1, 4, 3, 2, 7]

### Tuple

In [95]:
a = (1, 2, 3)
type(a)

tuple

In [98]:
len(a)

3

In [102]:
b = (1,)
type(b)

tuple

In [103]:
a[0:1]

(1,)

In [107]:
tuple([1])

(1,)

In [108]:
a[0]

1

In [109]:
a[0] = 2

TypeError: 'tuple' object does not support item assignment

In [110]:
s = '2425'
s[0] = 4

TypeError: 'str' object does not support item assignment

append, copy, pop, remove, reverse, extend, insert = mutate 

index, count

copy

In [ ]:
person1 = ('John', 'Wick', 50)

grades = [40, 50, 60]

In [111]:
type([])

list

In [112]:
type(())  # Empty Tuple

tuple

In [114]:
empty_tuple = tuple()

tuple

In [120]:
a, b = divmod(20, 3)
a

tuple

In [124]:
# Tuple  Unpacking

id, title, artist_id = (1, 'that is apple', 1)
title

1

### Dictionary

In [8]:
person = {
'Name': "John",
'Email': "Johm@gmail.com",
'Age': 50
}

type(person)

dict

In [5]:
person['Name']

'John'

In [129]:
person['Email']

'Johm@gmail.com'

In [130]:
person['not_exist']

KeyError: 'not_exist'

In [131]:
person.keys()

dict_keys(['Name', 'Email', 'Age'])

In [132]:
person.values()

dict_values(['John', 'Johm@gmail.com', 50])

In [133]:
person.items()

dict_items([('Name', 'John'), ('Email', 'Johm@gmail.com'), ('Age', 50)])

In [135]:
dict([('Name', 'John'), ('Email', 'Johm@gmail.com'), ('Age', 50)])

{'Name': 'John', 'Email': 'Johm@gmail.com', 'Age': 50}

In [136]:
dict(name= 'Adam', age=40)

{'name': 'Adam', 'age': 40}

In [138]:
person['lname'] = 'Wick'

In [139]:
person

{'Name': 'John', 'Email': 'Johm@gmail.com', 'Age': 50, 'lname': 'Wick'}

In [144]:
{
    1: "bjh",
    True: 'ghg'
}

{1: 'ghg'}

In [146]:
k1 = 1
k2 = False
k3 = 'key3'
k4 = (1, 2, 3)
k5 = (1, 2, 3)

d1 = {
    k1: 'a',
    k2: 'ab',
    k3: 'abc',
    k4: 'abcd'
}
d1

{1: 'a', False: 'ab', 'key3': 'abc', (1, 2, 3): 'abcd'}

In [147]:
d1[(1, 2, 3)]

'abcd'

In [3]:
k1 = 1
k2 = False
k3 = 'key3'
k4 = ([1, 2], [2,3], [3, 4])

d2 = {
    k1: 'a',
    k2: 'ab',
    k3: 'abc',
    k4: 'abcd',
}

d2

TypeError: unhashable type: 'list'

In [5]:
hash('hello')

9019174154108372998

In [10]:
hash((1, 2))

-3550055125485641917

In [8]:
hash([1, 2])

TypeError: unhashable type: 'list'

In [11]:
print(hash((1, 2, 3, 4, 5, 6, 7)))
print(hash((1, 2, 3, 4, 5, 9, 7)))

316559433289985030
4863630014576786527

In [12]:
(1, 2, 3, 4, 5, 6, 7) == (1, 2, 3, 4, 5, 9, 7)

False

In [13]:
a1 = {
    'a': 1,
    'b': 2
}

a1.update({'c': 3, 'a': 5})

In [14]:
a1

{'a': 5, 'b': 2, 'c': 3}

### Set

In [21]:
letters = {'a', 'b', 'c', 'd', 'a', 'a', 'b'}
type(letters)

set

In [22]:
letters

{'a', 'b', 'c', 'd'}

In [25]:
a = [ 'a', 'b', 'c', 'd', 'a', 'a', 'b']
list(set(a))

['d', 'c', 'b', 'a']

In [27]:
for i in letters:
    print(i)

d
b
c
a

In [45]:
s1 = {'a', 'b', 'c'}
s2 = {'r', 'a', 'b'} 

s1.union(s2)

{'a', 'b', 'c', 'r'}

In [46]:
s1 | s2

{'a', 'b', 'c', 'r'}

In [47]:
s1.difference(s2)

{'c'}

In [48]:
s1 - s2

{'c'}

In [49]:
s2.difference(s1)

{'r'}

In [50]:
s1.symmetric_difference(s2)

{'c', 'r'}

In [51]:
s1 ^ s2

{'c', 'r'}

In [57]:
'Banana' in ['apple', 'kiwi', 'banana']

False

## Namedatuple

In [92]:
from collections import namedtuple

# RGB = (200, 100, 230)

Color  = namedtuple("Color", ['red', 'green', 'blue'])

white = Color(255, 255, 255)
black = Color(0, 0, 0)
green = (0, 255, 0)
c = Color(200, 30, 10)

c.blue

10

In [93]:
c[2]

10

In [86]:
c = {'red': 200, 'green': 30, 'blue': 10}
c['blue']

10

In [87]:
c[0]

KeyError: 0

In [64]:
type(green)

__main__.Color

In [69]:
isinstance(green, tuple)

True

In [70]:
isinstance(green, list)

False

In [9]:
person['Name']

'John'

2